{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search! {% if data.count %}
        {{data.count}} Results
        {% endif %}</h1>
        
    </div>
    <p class="lead"> Show Search </p>
{#    Todo implement show search frontend #}

    <ul class="nav nav-pills">
    {% for item in data.data %}
        <li class="active"><a href=''>{{item.name}}</a></li>
    {% endfor %}
    </ul>

    <ul class="items">
	
</ul>


{% endblock %}