{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.data.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.data.id }}
		</p>
		<div class="genres">
			<span class="genre">{{ venue.data.geners  }}</span>
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.data.city }}, {{ venue.data.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.data.address %}{{ venue.data.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.data.phone %}{{ venue.data.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.data.website_link %}<a href="{{ venue.data.website_link }}" target="_blank">{{ venue.data.website_link }}</a>{% else %}No Website_link{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.data.facebook_link %}<a href="{{ venue.data.facebook_link }}" target="_blank">{{ venue.data.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.data.looking_for_talent == True%}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_links }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_links }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="/venues/{{ venue.data.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
<a href="/venues/{{ venue.data.id }}/delete"><button class="btn btn-danger btn-lg">Delete</button></a>

{% endblock %}

