{% extends 'layouts/main.html' %}
{% block title %}{{ artist.data.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.data.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.data.id }}
		</p>
		
		<div class="genres">
		{% for items in artist.geners %}
			<span class="genre">{{ items }}</span>
		{% endfor %}
		</div>
		
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.data.city }}, {{ artist.data.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.data.phone %}{{ artist.data.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.data.website_link %}<a href="{{ artist.data.website_link }}" target="_blank">{{ artist.data.website_link }}</a>{% else %}No website_link{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.data.facebook_link %}<a href="{{ artist.data.facebook_link }}" target="_blank">{{ artist.data.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.data.looking_for_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.data.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.data.image_links }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_links }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_links }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="/artists/{{ artist.data.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
<a href="/artists/{{ artist.data.id }}/delete"><button class="btn btn-danger btn-lg">Delete</button></a>

{% endblock %}

